@model Br.Sa.Scania.TrackNTrace.Outbound.Maritimo.Models.Maritimos

@{
    ViewData["Title"] = "Delete";
}
<!DOCTYPE html>
<html lang="en">
<style>
    .map {
        height: 900px;
        width: 2235px;
        margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: -350px;
    }

    #map {
        position: relative;
    }

    .full-height {
        height: 100%;
    }

    body {
        margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 30px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
    }

    #block_container {
        display: flex;
    }
</style>
<head>
    <meta content="X-UA-Compatible" http-equiv="IE=edge">
    <noscript><meta content="0;url=https://static.scania.com/vendors/components/pure-js/nonJS-browsers/1.0.0/nonJS-browsers.html" http-equiv="refresh"></noscript>
    <script src="https://static.scania.com/vendors/components/pure-js/browser-reject/1.0.0/js/browser-reject.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Track&Trace - Outbound</title>
    <script src="https://static.scania.com/build/global/3.5.3-1/js/corporate-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol-debug.js" type="text/javascript"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <link rel="stylesheet" href="https://openlayers.org/en/v5.3.0/css/ol.css" type="text/css">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>
<body>
    <c-corporate-header site-name="Track&Trace - Outbound" short-name="My app" site-url="/">
        <nav-item location="#">Optional</nav-item>
        <nav-item location="#">User Menu</nav-item>
    </c-corporate-header>
    <c-main-content style="padding-top:0px">
        <c-main-navigation>
            <primary-items>
                <nav-item location="TrackNTrace">Home</nav-item>
                <nav-item location="http://tracker-tracer.s3-eu-west-1.amazonaws.com/Outbound.html">Terrestre</nav-item>
                <nav-item location="CadastroDeNavios">Cadastro de Navios</nav-item>
                <nav-item location="Create">Create</nav-item>
                <nav-item location="Index">Index</nav-item>
            </primary-items>

        </c-main-navigation>

        <section style="padding-top:0px">
            <h1>Delete</h1>

            <div>
                <h4>Maritimo</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BatchId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BatchId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PopId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PopId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Chassis)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Chassis)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CustomerOrder)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CustomerOrder)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PartPeriod)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PartPeriod)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Type)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Type)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Market)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Market)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Model)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Model)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PDD)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PDD)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PlanPacking)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PlanPacking)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PlanDelivery)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PlanDelivery)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Liner)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Liner)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PortDestination)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PortDestination)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.InttraNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.InttraNumber)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Booking)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Booking)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Terminal)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Terminal)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Container40)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Container40)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Container20)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Container20)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Vessel)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Vessel)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastDateOutSLA)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastDateOutSLA)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ETDSantos)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ETDSantos)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ETD2Santos)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ETD2Santos)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ATDSantos)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ATDSantos)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ETADestination)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ETADestination)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ETA2Destination)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ETA2Destination)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ATADestination)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ATADestination)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
        </section>
    </c-main-content>
    <c-corporate-footer style="padding-bottom:30px">
        <c-social-media>
            <nav-item icon="facebook" location="#" onclick="window.open('https://www.facebook.com/scaniagroup/')"></nav-item>
            <nav-item icon="twitter" location="#"></nav-item>
            <nav-item icon="youtube" location="#"></nav-item>
            <nav-item icon="linkedin" location="#"></nav-item>
        </c-social-media>
        <!--<nav-item location="#">Legal notice</nav-item>
        <nav-item location="#">Privacy statement</nav-item>
        <nav-item location="#">Cookies</nav-item>
        <nav-item location="#">Contact us</nav-item>-->
    </c-corporate-footer>

</body>
</html>